/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}

/* Link Styles */

a {
  text-decoration: none;
  color: #999;
}

a:hover {
  color: #fff;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
  display: block;
  margin-right: auto;
  color: white;
}

.nav li {
  padding: 5px 10px 10px 10px;
}

.nav a {
  transition: all .5s;
}

header {
  text-align: center;
  background: url('images/background.jpg') no-repeat top center;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}

header {
  line-height: 1.5;
}

header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s;
}

header .profile-image:hover {
  transform: scale(1.2) rotate(5deg);
}

.tag {
  background-color: #efefef;
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
}

.location {
  background-color: #222;
  color: yellow;
}

.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}

.card:hover {
  border-color: #ff99ff;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}

a.github {
  background-image: url(images/github.svg);
}

a.social:hover {
  opacity: 1;
}

.clearfix {
  clear: both;
}

/* Styles for larger screens */

@media screen and (min-width: 720px) {

  .flex {
    display: -ms-flexbox;/* TWEENER - IE 10 */
    display: flex;
    max-width: 1200px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 20px;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }

  main p {
    line-height: 1.6em;
  }

  .footer-home {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

  /*-------------------------------
  interests.com
  -------------------------------*/
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }

  /* Navigations */
  
  .nav-interests {
    width: 100%;
    background: rgba(64, 67, 78, .8);
    min-height: 30px;
    padding: 10px;
    position: fixed;
    text-align: center;
    z-index: 50;
  }

  .nav-list-interests {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 0 30px;
  }

  .nav-list-interests li {
    margin-left: 30px;
  }

  .nav-list-interests li a {
    color: white;
    transition: all .5s;
  }

  .nav-list-interests li a:hover {
    color: #bdc6b8;
  }

  .name-interests {
    color: white;
    margin-right: auto;
  }

  .header-interests {
    text-align: center;
    background: url('images/header-interests.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    z-index: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contents-header {
    width: 395px;
    text-align: left;
  }

  .tag-interests {
    color: #5b1e2b;
    font-size: 70px;
    position: relative;
    margin-top: -100px;
    width: 420px;
  }

  .text-tag-interests {
    letter-spacing: .08em;
    line-height: 1.5;
    font-size: 15px;
    color: #5b1e2b;
    padding: 5px 0 0 2px;
    font-family: 'Times New Roman', Times, serif;
  }

  .tag-interests::after {
    content: "";
    display: block;
    width: 387px;
    height: 3px;
    position: absolute;
    bottom: 6%;
    left: 4px;
    background-color: #6a2433;
  }

  /* Section - "People" */
  
  .img-interests {
    width: 630px;
    height: 350px;
  }

  .title-interests {
    font-size: 35px;
    letter-spacing: .3em;
    text-align: center;
    padding: 40px 0;
    background-color: #fff;
    color: #5b1e2b;
    font-weight: normal;
    margin-bottom: 70px;
  }

  .contents-interests {
    position: relative;
    height: 49vh;
    margin-bottom: 70px;
  }

  .img-interests {
    width: 670px;
  }

  /* images of Yuzuru Hanyu & Art/Drawing */

  .img-interests img {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }

  .img-top {
    margin-right: auto;
  }

  .card-interests {
    width: 630px;
    height: 340px;
    padding: 60px 100px;
    color: #525252;
    background-color: #bdc6b8;
    position: absolute;
    transition: all .5s;
  }

  .card-interests h3 {
    letter-spacing: .05em;
    position: relative;
  }

  .card-interests p {
    text-align: left;
    line-height: 1.8;
  }

  .card-interests:hover {
    background-color: #d6e4ce;
  }

  /* Cards for Yuzuru Hanyu & Art/Drawing */

  .card-top {
    top: 17%;
    right: 0;
  }

  .card-interests h3 {
    font-size: 30px;
    margin-bottom: 15px;
  }

  /* Images of Kurt Cobain & Reading */

  .img-btm {
    position: absolute;
    top: 17%;
    right: 0;
  }

  /* footer */
  #footer-interests {
    width: 100%;
    border-top: solid 1px #5b1e2b;
  }

  #footer-interests ul {
    margin: 20px 0 10px;
  }

  /* SNS icons */
  .social-interests {
    font-size: 27px;
    color: #525252;
  }

  .social-interests:hover {
    color: #bdc6b8;
  }

  .copyright-interests {
    font-size: .70em;
    color: #525252;
  }
}