/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background: #f7f5f0;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #FCECEA;
}
a:hover {
  color: #6633ff;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background-color:rgb(106, 36, 51, .8);
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: #FCECEA;
}
.nav li,.interests-nav-list li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white
}

.header-index {
  text-align: center;
  background: url('images/background.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 0px;
}
header {
  line-height: 1.5;
}

header .profile-image {
  margin-top: 80px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #454545;
  transition: all .5s;
}

header .profile-image:hover {
  transform: scale(1.2) rotate(5deg);
}

.tag {
  background-color: #6a2433;
  color: #FCECEA;
  padding: 10px 25px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
} 

.tag::after {
  content:"";
  display: block;
  width: 387px;
  height: 3px;
  position: absolute;
  bottom: 6%;
  left: 4px;
  background-color: #6a2433;
}
.location {
  background-color: #842c3f;
  color: #FCECEA;
  
}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}
.card:hover {
  border-color: #ff99ff;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }

  main p {
    line-height: 1.6em;
  }

  footer #footer-home {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

  /*-------------------------------
  interests.com
  -------------------------------*/
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
  .nav-interests {
    width: 100%;
    background: rgba(64, 67, 78, .8);
    min-height: 30px;
    padding: 10px;
    position: fixed;
    text-align: center;
    z-index: 50;
  }

  .nav-list-interests {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 0 30px;
  }

  .nav-list-interests li {
    margin-left: 30px;
  }

  .name-interests {
    color: white;
    margin-right: auto;
  
  }

  .header-interests {
    text-align: center;
    background: url('images/header-interests.jpg') no-repeat center center ;
    background-size: cover;
    position: relative;
    z-index: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

 .contents-header {
    width: 395px;
    text-align: left;
 }

 .tag-interests {
  color: #5b1e2b;
  font-size: 70px;
  position: relative;
  margin-top: -100px;
  width: 420px;
}

 .text-tag-interests {
  letter-spacing: .08em;
  line-height: 1.5;
  font-size: 15px;
  color: #5b1e2b;
  padding: 5px 0 0 2px;
  font-family: 'Times New Roman', Times, serif;
 }

  .tag-interests::after {
    content:"";
    display: block;
    width: 387px;
    height: 3px;
    position: absolute;
    bottom: 6%;
    left: 4px;
    background-color: #6a2433;
  }
  
/* People */  
/* common */
.img-interests {
  width: 630px;
  height: 350px;
}

.title-interests {
  font-size: 35px;
  letter-spacing: .3em;
  text-align: center;
  padding: 40px 0;
  background-color: #fff;
  color: #5b1e2b;
  font-weight: normal;
  margin-bottom: 70px;
}

/* TOP/Yuzuru Hanyu */  
.contents-interests {
  position: relative;
  height: 49vh;
  margin-bottom: 70px;

}

.img-interests {
  width: 670px;
}

.img-interests img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.img-top {
  margin-right: auto;
}

.card-interests {
  width: 630px;
  height: 340px;
  padding: 90px 100px;
  color: #525252;
  background-color: #bdc6b8;
  position: absolute;
}

.card-top {
  top: 17%;
  right: 0;
 }

.card-interests h3 {
  font-size: 30px;
  margin-bottom: 15px;
}

/* BTM/Kurt Cobain */  

.img-btm {
  position: absolute;
  top: 17%;
  right: 0;

}

.card-btm {

}

#hobbies .title-interests {

}

#footer-interests {
  border-top: 1px solid#6a2433;
}

.copyright-interests {

}
/*
.contents-interests {

  width: 100%;
 

  margin: 0 auto 200px;
  background-color: #fff;
  position: relative;
}

  
  .flex-interests-right {

    width: 100%;
   
  
    margin-right: 0;
    background-color: #fff;
    position: relative;
  
  }


.img-interests {
  width: 750px;
  font-size: 0;
  margin-right: 0;
}

.img-interests img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.img-interests-right {
  width: 750px;
  font-size: 0;
  margin-left: 0;
}

.img-interests-right img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.img-interests-right {
  width: 750px;
  font-size: 0;
  margin-left: 0;
}

.card-interests {
  width: 520px;
  height: 450px;
  padding: 120px;
  color: #525252;
  background-color: #d6d1ce;

  position: absolute;
  top: 20%;
  right: 0%;
  z-index: 0;
}

.card-interests-right {
  width: 520px;
  height: 450px;
  padding: 120px;
  color: #525252;
  background-color: #d6d1ce;

  position: absolute;
  top: 20%;
  left: 0%;
  z-index: 0;
}

.card-interests p {
text-align: left;
line-height: 1.9;
}

.card-interests:hover {
  border-color: #ff99ff;
}

.card-interests h3 {

  font-size: 35px;
  letter-spacing: .1em;
  text-align: center;
  margin-bottom: 30px;
}

.flex-reverse {
  flex-direction: row-reverse;
}
}
-interests
*/
}

background-color:rgb(132, 64, 63, .8);